/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 80px;
    border: 2px solid black;
}

.flex{
    display: flex;
}

.flex-centrato{
    justify-content: center;
    align-content: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.jumbo{
    height: 550px;
    background-color: #b4d0e7;
    text-align: center;
}

.spiegazione-img{
    height: 450px;
    width: 400px;
    background-color: blue;
}

.img-informativa{
    height: 450px;
    width: 600px;
    background-color: blueviolet;
}

.contenitore-centrato{
    width: 700px;
    border: 1px solid black;
    margin: 0 auto;
    /* margin-top: 3em; */
}

.piano-dropbox{
    height: 750px;
    width: 700px;
    background-color: red;
    border: 1px solid black;
}

.scelta-personalizzata{
    width: 700px;
    height: 150px;
    border: 1px solid black;
    background-color: lime;
}

.operazioni-dropbox{
    width: calc(100% / 3);
    /* background-color: magenta; */
    border: 1px solid black;

}

.contenitore-operazioni{
    width: 100%;
}

.img-operazione{
    height: 100px;
    background-color: magenta;
    width: 100%;
}

.operazione{
    height: 200px;
    background-color: aqua;
    width: 100%;

}