/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Selettori tag unici */
header{
    height: 80px;
    padding-top: 1.5em;
}

body{
    font-family: 'Open Sans', sans-serif;
}

footer{
    height: 500px;
    background-color: black;
    color: white;
}

ul{
    list-style-type: none;
}

li{
    padding: 0 0.5em;
}

h1{
    font-size: 4em;
    font-weight: 900;
    padding-bottom: .5em;
}

h2{
    font-weight: 900;
    font-size: 1.75em;
    padding-bottom: 1.35em;
}

p{
    font-size: .8em;
    line-height: 1.4em;
}

#freccia{
    font-weight: bolder;
    font-size: 2.5em;
    position: absolute;
    bottom: 80px;
}

span{
    
}

/* Selettori Flex */
.flex{
    display: flex;
}

.flex-centrato{
    justify-content: center;
    align-content: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-between{
    justify-content: space-between;
}

/* Tag Header */
.login{
    background-color: #0061ff;
    width: 4em;
    text-align: center;
}

/* Bottoni pagina */
.bottone{
    color: white;
}


/* Jumbo */
.jumbo{
    background-color: #b4d0e7;
}

.contenitore-grande{
    margin: 0 auto;
    max-width: 950px;
    position: relative;
    top: 70px;
}

.spiegazione-img{
    width: 30%;
    position: relative;
}

.bottone-prova-gratuita{
    background-color: #0061ff;
    color: white;
    border: none;
    padding: .8em;
    text-align: center;
}

.img-informativa{
    width: 70%;
}

.img-informativa img{
    width: 100%;
}

.bottone-prova-gratuita-jumbo{
    margin: 2em 0;
}

/* Contenitore generale */
.contenitore-centrato{
    width: 700px;
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-top: 9.5em;
}

/* 6 section */
.piano-dropbox{
    height: 750px;
    width: 700px;
    background-color: red;
    border: 1px solid black;
}

.scelta-personalizzata{
    width: 700px;
    height: 150px;
    border: 1px solid black;
    background-color: lime;
}

.operazioni-dropbox{
    width: calc(100% / 3);
    border: 1px solid black;

}

section.operazioni-dropbox section{
    width: 100%;
}

.img-operazione{
    height: 100px;
    background-color: magenta;
    width: 100%;
}

.operazione{
    height: 200px;
    background-color: aqua;
    width: 100%;

}

/* Main 9 quadrati */
.contenitore-design{
    height: 500px;
    background-color: lightpink;
}

.quadrato{
    height: 250px;
    width: 250px;
    border: 1px solid black;
}

.quadrato-grande{
    height: 500px;
    width: calc(100% - 500px);
    border: 1px solid black;
}

/* Prova gratuita */
.contenitore-prova-gratuita{
    height: 300px;
    background-color: #b4d0e7;
}

.prova-gratuita{
    padding-top: 9em;
}

/* Main domande */
.contenitore-domande{
    height: 500px;
    padding: 5em 0;
}

#domande h2{
    padding-bottom: 1.6em; 
}

.sezione-domanda{
    padding: 2em 0em;
}
