/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Selettori tag unici */
header{
    height: 80px;
    padding-top: 1.5em;
}

body{
    font-family: 'Open Sans', sans-serif;
}

footer{
    height: 500px;
    background-color: black;
    color: white;
}

ul{
    list-style-type: none;
}

h1{
    font-size: 4em;
    font-weight: 900;
    padding-bottom: .5em;
}

h2{
    font-weight: 900;
    font-size: 2em;
    padding-bottom: 1.35em;
}

p{
    font-size: .8em;
    line-height: 1.4em;
}

#freccia{
    font-weight: bolder;
    font-size: 2.5em;
    position: absolute;
    bottom: 80px;
}

i{
    margin-right: .5em;
}

h4{
    margin-left: 1.4em;
    margin-bottom: 1.6em;
}

.bolder{
    font-weight: 900;
}

/* Selettori Flex */
.flex{
    display: flex;
}

.flex-centrato{
    justify-content: center;
    align-content: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-between{
    justify-content: space-between;
}

/* Position */
.absolute{
    position: absolute;
    right: 0;
    top: 40px;
}

.relative{
    position: relative;
}

/* Tag Header */
.login{
    background-color: #0061ff;
    width: 4em;
    text-align: center;
}

header section.navigazione nav.dati ul li{
    padding: 0 0.5em;
}

/* Bottoni pagina */

.bottone{
    background-color: #0061ff;
    color: white;
    border: none;
    padding: .8em;
    text-align: center;
}

.bottone-bianco{
    background-color: white;
    color: black;
    border: 1px solid black;
}


/* Jumbo */
.jumbo{
    background-color: #b4d0e7;
}

.contenitore-grande{
    margin: 0 auto;
    max-width: 950px;
    top: 70px;
}

.spiegazione-img{
    width: 30%;
    position: relative;
}



.img-informativa{
    width: 70%;
}

.img-informativa img{
    width: 100%;
}

.bottone-prova-gratuita-jumbo{
    margin: 2em 0;
}

/* Contenitore generale */
.contenitore-centrato{
    width: 800px;
    margin: 0 auto;
}

/* Trova il business */
.contenitore-article{
    margin-top: 7em;
}

.piano-dropbox{
    border: 1px solid black;
    margin-right: 1.5em;

}

.check-marker{
    color: #69adff;
}

.piano-business{
    padding: 1.5em;
}

.bottoni-piano-business{
    margin: 2.3em 0;
}

div.card-business article.piano-dropbox section.piano-business div ul li{
    margin: .8em 0;
}

section.punti-salienti div{
    padding-left: 1.2em;
    padding-bottom: 1.5em
}

.scelta-personalizzata{
    border: 1px solid black;
    margin-top: 3em;
}

.card-business{
    margin-top: 2.5em;
}


.piano-dropbox-icona{
    height: 40px;
    border-bottom: 1px solid black;
    padding: .6em;
    text-align: center;
    font-size: .9em;
}

.relative h3{
    margin-left: 1.2em;
    margin-top: 1.5em;
}

.relative div.bolder{
    margin: 1.5em 1.2em;
}

.relative p{
    margin-left: 1.2em;
    margin-top: 2em;
}

/* 2 section sotto jumbo */
.img-partner{
    
}



/* 6 section */
section.contenitore-centrato span{
    margin: 0em 7em 0em 0em;
}


.operazioni-dropbox{
    width: calc((100% / 3) - 1em);
    /* border: 1px solid black; */
    margin: 0 0.5em 2.5em 0.5em;
}

section.operazioni-dropbox section{
    width: 100%;
}
section.operazioni-dropbox div.img-operazione img{
    width: 100%;
}

div.operazione > h3{
    margin: .7em 0 1.5em 0;
}

/* link e h2*/
div.link-users{
    margin: 10em 0 10em 0;
}


/* Prova gratuita */

/* Main 9 quadrati */
.quadrato-terzine{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    border: 2px solid black;
}

.clienti{
    width: 50%;
    height: 50%;
}

.clienti img{
    width: 50%;
    margin: auto;
    filter: invert(1);
}

.quadrato-grande img{
    width: 50%;
    margin: .8em 0 1.2em 1.8em;
}

.p-design{
    font-size: .6em;
    margin: 0 2.5em 0 2.5em;
}

/* Classi bg per quadrati */
.bg-verde{
    background-color: #a2d39b;
}
.bg-marrone{
    background-color: #61082b;

}
.bg-azzurro{
    background-color: #0093ce;

}
.bg-rosso{
    background-color: #ff1c1c;

}
.bg-rosa{
    background-color: #f5f5f5;

}
.bg-rosso-scuro{
    background-color: #d5001f;

}
.bg-celeste{
    background-color: #b4d0e7;

}
.bg-blu{
    background-color: #0d2481;

}
.bg-giallo{
    background-color: #ffd830;

}


/* Prova gratuita */
.contenitore-prova-gratuita{
    height: 300px;
    background-color: #b4d0e7;
}

.prova-gratuita{
    padding-top: 9em;
}

/* Main domande */
.contenitore-domande{
    /* height: 500px; */
    padding: 8em 0;
    margin-bottom: 5em;

}

#domande{
}

#domande h2{
    padding-bottom: 1.6em; 
}

.sezione-domanda{
    padding: 2em 0em;
}

.sezione-domanda span{
    font-weight: 999;
}

/* Footer */
.footer-display{
    padding-top: 4.5em;
    padding-left: 1.5em;
}

.footer-display h3{
    margin: 1em 0 1em 0;
}

footer nav ul li{
    padding: .4em 0 .4em 0;
}